<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/index.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content">
		<section class="inner_page_head">
	         <div class="container_fuild">
	            <div class="row">
	               <div class="col-md-12">
	                  <div class="full">
	                     <h3>Sign In</h3>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </section>
		<section class="why_section layout_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<div class="full">
							<form action="">
								<fieldset>
									<input type="text" placeholder="Enter your name" name="name" />
									<input type="email" placeholder="Enter your email address" name="email" /> 
									<input type="password" name="password" placeholder="Enter your password">
									<input type="text" placeholder="Enter your number" name="number" />
									<input type="submit" value="Submit" />
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</body>
</html>