<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/index.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
  <section class="inner_page_head">
    <div class="container_fuild">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <h3>Cart</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end breadcrumb section -->

  <!-- cart -->
  <div class="cart-section mt-2 mb-2 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="cart-table-wrap">
            <table class="cart-table" th:each="item : ${cart}">
              <thead class="cart-table-head">
              <tr class="table-head-row">
                <th class="product-remove"></th>
                <th class="product-image">Product Image</th>
                <th class="product-name">Name</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr class="table-body-row">
                <td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
                <td class="product-image"><img src="assets/img/products/product-img-1.jpg" alt="">
                </td>
                <td class="product-name" th:text="${item.name}"></td>
                <td class="product-price" th:text="${item.unitPrice}" ></td>
                <td class="product-quantity"><input type="number" placeholder="0"></td>
                <td class="product-total"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="total-section">
            <table class="total-table">
              <thead class="total-table-head">
              <tr class="table-total-row">
                <th>Total</th>
                <th>Price</th>
              </tr>
              </thead>
              <tbody>
              <tr class="total-data">
                <td><strong>Subtotal: </strong></td>
                <td th:text="${total}"></td>
              </tr>
              <tr class="total-data">
                <td><strong>Shipping: </strong></td>
                <td>$45</td>
              </tr>
              <tr class="total-data">
                <td><strong>Total: </strong></td>
                <td th:text="${total}"></td>
              </tr>
              </tbody>
            </table>
            <div class="cart-buttons">
              <a href="cart.html" class="boxed-btn">Update Cart</a>
              <a href="checkout.html" class="boxed-btn black">Check Out</a>
            </div>
          </div>

          <div class="coupon-section">
            <h3>Apply Coupon</h3>
            <div class="coupon-form-wrap">
              <form action="index.html">
                <p><input type="text" placeholder="Coupon"></p>
                <p><input type="submit" value="Apply"></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end cart -->
</section>
</body>
</html>