<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/index.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <section class="inner_page_head">
        <div class="container_fuild">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <h3>Order List</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end breadcrumb section -->

    <!-- cart -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Address</th>
                                <th>Price</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item :  ${order}">
                                <td class="name-pr">
                                    <p th:text="${item.orderDate}"></p>
                                </td>
                                <td class="price-pr">
                                    <p th:text="${item.address}"></p>
                                </td>
                                <td class="quantity-box">
                                    <p th:text="'$' + ${item.amount}"></p>
                                </td>
                                <td class="total-pr">
                                    <p th:text="${item.phone}"></p>
                                </td>
                                <td class="total-pr">
                                    <p th:text="${item.status}"></p>
                                </td>
                                <td class="total-pr">
                                    <a th:href="@{/site/orderdetail}">Detail</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row my-5" th:if="${grandTotal}">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">
                        <h3>Order summary</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold"></div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Tax</h4>
                            <div class="ml-auto font-weight-bold"> Free</div>
                        </div>
                        <div class="d-flex">
                            <h4>Shipping Cost</h4>
                            <div class="ml-auto font-weight-bold"> Free</div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5" th:text="'$' + ${grandTotal}"></div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a th:href="@{/site/order/checkout}" class="ml-auto btn hvr-hover">Checkout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showConfirmModalDialog(id, name) {
            $('#productName').text(name);
            $('#yesOption').attr('href', '/site/cart/delete/' + id);
            $('#confirmationId').modal('show');
        }
    </script>
    <!-- Modal -->
    <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete "<span id="productName"></span> " ?
                </div>
                <div class="modal-footer">
                    <a id="yesOption" type="button" class="btn btn-warning">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>
    <!-- end cart -->
</section>
</body>
</html>